<table class="table">
    <tbody>
      <tr>
        <td>История</td>
        <td>{{ product.history }}</td>
      </tr>
      <tr>
        <td>Строна</td>
        <td>{{ product.country }}</td>
      </tr>
      <tr>
        <td>Аромат</td>
        <td>{{ product.scent }}</td>
      </tr>
      <tr>
        <td>Состав</td>
        <td>{{ product.composition }}</td>
      </tr>
      <tr>
        <td>Размер</td>
        <td>{{ product.size }}</td>
      </tr>
        <tr>
        <td>Наличие поздрвительной карты</td>
        <td>{{ product.greeting_card }}</td>
      <tr>
        <td>Размер цветочного горшка</td>
        <td>{{ product.pot_size }}</td>
      </tr>
      <tr>
        <td>Цвет горшка</td>
        <td>{{ product.pot_color }}</td>
      </tr>
      <tr>
        <td>Инструкция по уходу</td>
        <td>{{ product.grooming_instructions }}</td>
      </tr>
    </tbody>
  </table>
  