{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container">

    <h2>Вход пользователя</h2>

    <form action="{% url 'account:login' %}" method="post" class="">

        {% csrf_token %}

        {% if has_error %}

            <p class="form-error">Неверное имя пользователя или пароль.</p>

        {% endif %}
<br>
        <div class="form-group">

            <label for="username" class="form-label">Имя пользователя:</label><br>

            <input type="text" name="username" id="username" placeholder="Имя пользователя">

        </div>

        <div class="form-group">

            <label for="password" class="form-label">Пароль:</label><br>

            <input type="password" name="password" id="password" placeholder="Пароль">

        </div>

        <button class="btn btn-info" type="submit">Войти</button>

    </form>
    <br>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'account:login' %}">Забыл пароль?</a>
      </div>

</div>

{% endblock content %}