{% extends 'base.html' %}
{% load static %}

{% block page %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .checked {
      color: orange;
    }
    </style>

<h3>Букеты из других видов цветов</h3>

<div class="container">

    <div class="row">
        <div class="column-md-4">
            <table class="" colspan=4>
                <tbody>
                    {% for assorted in assortedbouquets %} 
                        {% if assorted.image %} 
                            <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'assorted' assorted.id %}"><img src="{{ assorted.image.url }}" width="300"/></a></td>
                        {% else %}
                            <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'assorted' assorted.id %}"><img src="{% static 'media/nophoto.jpg' %}" width="300"/></a></td>
                        {% endif %}   
                    {% endfor %} 
                </tbody>

                <tbody>
                    {% for assorted in assortedbouquets %} 
                    <td colspan="4"><a href="{% url 'assorted' assorted.id %}"><h4 style="font-size: 18px; font-weight: bold; color: rgb(20, 110, 146);">{{ assorted.name }}</h4></a></td>
                    {% endfor %} 
                </tbody>

                <tbody>
                    {% for assorted in assortedbouquets %} 
                        {% if assorted.sale %}
                            <td colspan="4"><p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder; text-decoration: line-through;">Цена: {{ assorted.price }} Сом</p></td>
                        {% else %} 
                        <td colspan="4"><p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder;">Цена: {{ assorted.price }} Сом</p></td>
                        {% endif %} 
                    {% endfor %} 
                </tbody>

                <tbody>
                    {% for assorted in assortedbouquets %} 
                        {% if assorted.sale %}
                            <td colspan="4"><p style="color: rgb(211, 29, 29); font-size: 14px; font-weight: bolder;">Цена со скидкой: {{ assorted.get_sale }} Сом</p></td>
                        {% endif %} 
                    {% endfor %} 
                </tbody>
                

                <tbody>
                    {% for assorted in assortedbouquets %} 
                    <td colspan="4">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                    {% endfor %} 
                </tbody>

            </table>

        </div>

    </div>
</div>

{% endblock %}    