{% extends 'base.html' %}
{% load static %}

{% block page %} 

<div class="container">
        <div class="row">
            <div class="column-md-4">
                <table class="" colspan=4>
                    <tbody>
                        <td><h2>{{ wedding_object.name }}</h2></td>
                    </tbody>
                    <tbody>
                        <td><p>{{ wedding_object.description }}</p></td>
                    </tbody>
                    <tbody>
                        {% if wedding_object.sale %} 
                            <td><h5 style="text-decoration: line-through; color: green;">Цена: {{ wedding_object.price }} сом</h5></td>
                            <td><h5 style="color: red; font-weight: bold;">Цена со скидкой: {{ wedding_object.get_sale }} сом</h5></td>
                        {% else %} 
                            <td><h5 style="color: green;">Цена: {{ wedding_object.price }} сом</h5></td>
                            
                        {% endif %}
                    </tbody>
               
                    <tbody>
                        <td>{% if wedding_object.image %} 
                            <img src="{{ wedding_object.image.url }}", width="600px" alt="">
                            
                        {% endif %}</td>
                    </tbody>
                
        
            </div>
        </div>
</div>




{% endblock %}