<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="component component-html c26 public-mode">
        <h1 style="text-align:center;">
            <span style="color:#070707;">
                <font face="lobster">
                    <span style="font-size:48px;">Цветы в Бишкеке</span></font>
                </span></h1>
            </div>
            <div class="component component-html c27 public-mode"><h2 style="line-height:1.1;text-align:center;">&nbsp;</h2>
                <p style="text-align:center;"><span style="font-size:24px;"><strong><span style="color:#000000;">
                <font face="comfortaa, serif">Ищете где купить цветы в Бишкеке? </font></span></strong></span></p>
                <p style="text-align:center;"><span style="font-size:24px;"><strong><span style="color:#000000;">
                    <font face="comfortaa, serif">В салоне Flowers всегда свежие цветы. Большой выбор роз. </font></span>
                </strong></span></p><p style="text-align:center;"><span style="font-size:24px;"><strong>
                    <span style="color:#000000;">
                        <font face="comfortaa, serif">Оригинальные цветочные композиции и букеты по самым выгодным ценам!</font>
            </span></strong></span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>
            
            <p>Доставка цветов<br>
                по Бишкеку</p>
                <p>Вы ищете где купить цветы в Бишкеке или ближайший цветочный,
                    или цветы с доставкой по Бишкеку, находясь в другом городе?</p>
            <span style="font-family:Arial;"><strong>Цветочный салон "Flowers" -

            </strong> это возможность заказать букет или композицию <strong>с доставкой</strong>
            <strong>в любую точку Бишкека</strong> в удобное для Вас время. Цены на букеты и композиции приятно Вас порадуют!</span>
            <p>Розы в Бишкеке ещё никогда не были такими доступными. Убедитесь!<br>
                
                 
                
                Доставка цветов по Бишкеку с 09:00 до 00:00. Предварительный заказ обязателен! <br>
                
                 
                
                На сайте вы можете узнать, как оформить свой заказ,
                как купить цветы в Бишкеке, как заказать оформление торжества и многое другое.</p>
            <div>
                
              
                <span style="font-family:lobster;">Как мы работаем<br>
                    Днём и ночью<br>КРУГЛОСУТОЧНО<br>
                    Доступные цены<br>

                    Розы от 100 сом<br>
                    Поставки цветов<br>

                    каждый день<br>
                    Доставка в срок от 1 часа<br>

                    с 09:00 до 00:00<br>
                    Номер телефона (0773)410 410
                </span>
              
           
                          
                                                                
               
                
            </div>
            
</body>
</html