{% extends 'base.html' %}
   {% block content %}
                  
    </div class="container-fluid">
       
            <h4>Ищете где купить цветы в Бишкеке?</h4>

            <p>В салоне <strong>Flowers</strong> всегда свежие цветы!
            Оригинальные цветочные композиции и букеты по самым выгодным ценам!
            А если Вы находитесь в другом городе или стране, но хотите сделать приятный сюрприз Вашим близким и родным, 
                то в нашем цветочном салоне Flowers для Вас есть идеальная опция - доставка цветов и онлайн оплата</p>
            
           
        
             <strong>Цветочный салон "Flowers" - </strong> это возможность заказать букет или композицию с <strong> доставкой в любую 
                 точку Бишкека</strong> в удобное для Вас время. Цены на букеты и композиции приятно Вас порадуют!</span>
            <p>Розы в Бишкеке ещё никогда не были такими доступными. Убедитесь!<br>
                
                 
                
                Доставка цветов по Бишкеку с 09:00 до 00:00. Предварительный заказ обязателен! <br>
                
                 
                
                На сайте вы можете узнать, как оформить свой заказ,
                как купить цветы в Бишкеке, как заказать оформление торжества и многое другое.</p>
            <div>
                
              
                <p>Как мы работаем?</p>
                <ul>
                    <li>КРУГЛОСУТОЧНО</li>
                    <li>Доступные цены</li>
                    <li>Всегда свежая поставка цветов</li>
                    <li>Короткий срок доставки</li>
                    <li>Профессиональные флористы подберут нужный Вам букет</li>

                </ul>
                 
                <p>Наши контакты: <br>
                    Номер телефона (0555) 000 000</p>
                   
   
                
            </div>
{% endblock content %}