{% extends 'base.html' %}
{% load static %}


{% block page %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .checked {
      color: orange;
    }
    </style>

<h3>Скидки на букеты</h3>
<br>

<div class="container">

    <div class="row">
        <div class="column-md-4">
            <table class="" colspan=4>
                <h4 style="color: rgb(184, 41, 41);">Скидки на букеты из роз</h4>
                {% if campaign_list %}
                   
                        <tbody>
                            {% for rose in campaign_list %} 
                                {% if rose.sale %}
                                    {% if rose.image %} 
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'rose' rose.id %}"><img src="{{ rose.image.url }}" width="300"/></a></td>
                                    {% else %}
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'rose' rose.id %}"><img src="{% static 'media/nophoto.jpg' %}" width="300"/></a></td>
                                    {% endif %} 
                                {% endif %}  
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for rose in campaign_list %}  
                                {% if rose.sale %}
                                    <td colspan="4"><a href="{% url 'rose' rose.id %}"><h4 style="font-size: 18px; font-weight: bold; color: rgb(20, 110, 146);">{{ rose.name }}</h4></a></td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for rose in campaign_list %} 
                                {% if rose.sale %}
                                    <td colspan="4"><p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder; text-decoration: line-through;">Цена: {{ rose.price }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for rose in campaign_list %} 
                                {% if rose.sale %}
                                    <td colspan="4"><p style="color: rgb(211, 29, 29); font-size: 16px; font-weight: bolder;">Цена со скидкой: {{ rose.get_sale }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for rose in campaign_list %} 
                                {% if rose.sale %}
                                    <td colspan="4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>
                    
                {% else %} 
                    <tbody>
                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"><p>no roses</p></td>
                    </tbody>

                {% endif %}

            </table>

<br>
<br>
            <table class="" colspan=4>
                <h4 style="color: rgb(184, 41, 41);">Скидки на сезонные букеты</h4>
                {% if campaign_season %}
                   
                        <tbody>
                            {% for season in campaign_season %} 
                                {% if season.sale %}
                                    {% if season.image %} 
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'season' season.id %}"><img src="{{ season.image.url }}" width="300"/></a></td>
                                    {% else %}
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'season' season.id %}"><img src="{% static 'media/nophoto.jpg' %}" width="300"/></a></td>
                                    {% endif %} 
                                {% endif %}  
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for season in campaign_season %}
                                {% if season.sale %}
                                    <td colspan="4"><a href="{% url 'season' season.id %}"><h4 style="font-size: 18px; font-weight: bold; color: rgb(20, 110, 146);">{{ season.name }}</h4></a></td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for season in campaign_season %} 
                                {% if season.sale %}
                                    <td colspan="4"><p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder; text-decoration: line-through;">Цена: {{ season.price }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for season in campaign_season %} 
                                {% if season.sale %}
                                    <td colspan="4"><p style="color: rgb(211, 29, 29); font-size: 16px; font-weight: bolder;">Цена со скидкой: {{ season.get_sale }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for season in campaign_season %} 
                                {% if season.sale %}
                                    <td colspan="4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>
                    
                {% else %} 
                    <tbody>
                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"><p>no seasonal flowers</p></td>
                    </tbody>

                {% endif %}

            </table>
<br>
<br>

             <table class="" colspan=4>
                <h4 style="color: rgb(184, 41, 41);">Скидки на другие букеты</h4>
                {% if campaign_assorted %}
                   
                        <tbody>
                            {% for assorted in campaign_assorted %} 
                                {% if assorted.sale %}
                                    {% if assorted.image %} 
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'assorted' assorted.id %}"><img src="{{ assorted.image.url }}" width="300"/></a></td>
                                    {% else %}
                                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"> <a href="{% url 'assorted' assorted.id %}"><img src="{% static 'media/nophoto.jpg' %}" width="300"/></a></td>
                                    {% endif %} 
                                {% endif %}  
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for assorted in campaign_assorted %}
                                {% if assorted.sale %}
                                    <td colspan="4"><a href="{% url 'assorted' assorted.id %}"><h4 style="font-size: 18px; font-weight: bold; color: rgb(20, 110, 146);">{{ assorted.name }}</h4></a></td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for assorted in campaign_assorted %} 
                                {% if assorted.sale %}
                                    <td colspan="4"><p style="color: rgb(38, 138, 83); font-size: smaller; font-weight: bolder; text-decoration: line-through;">Цена: {{ assorted.price }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for assorted in campaign_assorted %} 
                                {% if assorted.sale %}
                                    <td colspan="4"><p style="color: rgb(211, 29, 29); font-size: 16px; font-weight: bolder;">Цена со скидкой: {{ assorted.get_sale }} Сом</p></td>
                                {% endif %} 
                            {% endfor %} 
                        </tbody>

                        <tbody>
                            {% for assorted in campaign_assorted %} 
                                {% if assorted.sale %}
                                    <td colspan="4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </td>
                                {% endif %}
                            {% endfor %} 
                        </tbody>
                    
                {% else %} 
                    <tbody>
                        <td colspan="4" style="padding-right: 40px; padding-bottom: 10px;"><p>no other flowers</p></td>
                    </tbody>

                {% endif %}
            </table>

<br>
<br>
<hr>

        </div>

    </div>
</div>

{% endblock %} 



 

