{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Flower online store</title>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'base' %}"><img src="{% static 'media/logo.png' %}" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="nav nav-pills">

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
            Категории товаров
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="http://127.0.0.1:8000/category/flowers/">Букеты из роз</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/category/otherflowers/">Другие виды цветов</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/category/weddingflowers/">Свадебные букеты</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/category/flowerinpots/">Цветы в горшках</a>
            
          </div>

        </li>


        <li class="nav-item">

          <a class="nav-link" href="{% url 'flowercare' %}" id="" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
            Все об уходе за цветами
          </a>


        </li>

        <li class="">

          <a class="nav-link" href="{% url 'campaign-list' %}" id="navbarDropdown" role="button" data-toggle="" aria-haspopup="true">
            Подарочный сертификат
          </a>

        </li>

        <nav class="navbar navbar-light bg-white">

          <form class="form-inline" role='search' action='/s/'>
          
            <input class="form-control mr-sm-2" type="text" placeholder="Искать товар" aria-label="Search" name="q">
            
            <button class="btn btn-outline-info" type="submit">Поиск</button> 

          </form>

        </nav>

        <nav class="navbar navbar-light bg-white">

          <div class="container">            

            <a class="navbar-brand" href="{% url 'delivery' %}">
              <img src="{% static 'media/delivery.jpg' %}" alt="" width="40">
            </a>

            <a class="navbar-brand" href="{% url 'cart' %}">
              <img src="{% static 'media/basket.png' %}" width="36"><span class="badge badge-pill badge-danger">{{ cart.products.count }}</span>
            </a>

            <nav class="navbar navbar-light bg-white">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Аккаунт
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'account:login' %}">Войти в аккаунт</a>
                  
                  <a class="dropdown-item" href="{% url 'account:logout' %}">Выйти из аккаунта</a>
                  {% block menu_links %}{% endblock %}
                  <a class="dropdown-item" href="{% url 'account:register' %}">Регистрация</a>
                  
              </div>
            </nav>

            <nav class="navbar navbar-light bg-white">

              {% if user.is_authenticated %}   
            
                  <li class="menu-right">Привет, {{ user.username }}!</li>
    
                  {% endif %}
    
            </nav>
          </div>
        </nav>
    </div>
  </nav>



  <!-- Карусель слайдер -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'media/slide1.png' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <a href="http://127.0.0.1:8000/category/weddingflowers/"><img class="d-block w-100" src="{% static 'media/slide5.png' %}" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
      <a href="http://127.0.0.1:8000/category/otherflowers/"><img class="d-block w-100" src="{% static 'media/slide4.png' %}" alt="Third slide"></a>
    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<!-- End of Карусель слайдер -->
<br>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      
      <!-- /.col-lg-3 -->

      <div class="col-lg-3 mt-5">
        
        <div class="list-group">

          {% for category in categories %}
          <a href="{{ category.url }}" class="list-group-item">{{ category.name }} ({{ category.count }})</a>
          {% endfor %}

        </div>
  
      </div>

      <div class="col-lg-9">
        {% block content %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}



        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">

                
                <h5 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h5>
                <h6>{{ product.price }} Сом</h6>
              
                <!--rating-->
    <style>
      * {
      margin: 0;
      padding: 0;
    }
    .rate {
      float: left;
      height: 46px;
      padding: 0 10px;
    }
    .rate:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }
    .rate:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #ccc;
    }
    .rate:not(:checked) > label:before {
      content: "★ ";
    }
    .rate > input:checked ~ label {
      color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
      color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
    </style>
    
        <div class="rate" style="margin: 0;">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
    <!--end of rating--> 
                <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                  <button class="btn btn-success">Добавить в корзину</button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      {% endblock content %}
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
<br>
<br>
<br>
<br>
<br>






  <!-- Footer -->
  <footer class="page-footer font-small purple pt-4 bottom" style="background-color: rgb(232, 224, 238);">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" style="padding-left: 200px;">

          <!-- Content -->
          <a class="navbar-brand" href="{% url 'base' %}"><img src="{% static 'media/logo.png' %}" alt="Logo" style="height: 130px; width: auto;"></a>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h6 class="text-uppercase">Категории товаров</h6>

          <ul class="list-unstyled">
            <li>
              <a href="http://127.0.0.1:8000/category/flowers/">Букеты из роз</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/category/otherflowers/">Другие виды цветов</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/category/weddingflowers/">Свадебные букеты</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/category/flowerinpots/">Цветы в горшках</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h6 class="text-uppercase">Другие категории</h6>

          <ul class="list-unstyled">
            <li>
              <a href="{% url 'flowercare' %}">Все об уходе за цветами</a>
            </li>
            <li>
              <a href="#!">Подарочный сертификат</a>
            </li>
            <li>
              <a href="#!">Контакты</a>
            </li>
          </ul>
        
            <!-- Facebook -->
            <a class="btn btn-primary" href="#!" role="button"
            ><i class="fa fa-facebook"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-primary" href="#!" role="button"
            ><i class="fa fa-twitter"></i
            ></a>
              <!-- Instagram -->
          <a class="btn btn-primary" href="#!" role="button"
          ><i class="fa fa-instagram"></i
          ></a>

          <!-- Whatsapp -->
        <a class="btn btn-primary" href="#!" role="button"
        ><i class="fa fa-whatsapp"></i
        ></a>

<br>
<br>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Подпишитесь на нашу рассылку</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" placeholder="Email" />
               
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary">
                Подписка
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright<br>
      Flower shop | Project of Python Team 1 - 50k Programmers
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  
  <br>

  


  <!--Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; ARAKET 2021</p>
    </div> -->
    <!-- /.container -->
  <!-- </footer> -->

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
