<table class="table">
    <tbody>
      <tr>
        <td>Высота растения с учетом горшка</td>
        <td>{{ product.size }}</td>
      </tr>
        <tr>
        <td>Наличие поздравительной карты</td>
        <td>{{ product.greeting_card }}</td>
      <tr>
        <td>Размер цветочного горшка</td>
        <td>{{ product.pot_size }}</td>
      </tr>
      <tr>
        <td>Цвет горшка</td>
        <td>{{ product.pot_color }}</td>
      </tr>
      <tr>
        <td>Инструкция по уходу</td>
        <td>{{ product.grooming_instructions }}</td>
      </tr>
    </tbody>
  </table>
  