.dropdown-menu {  
    position: absolute;  
    top: 100%;  
    left: 0;  
    z-index: 1000;  
    display: none;  
    float: left;  
    min-width: 160px;  
    padding: 5px 0;  
    margin: 2px 0 0;  
    font-size: 14px;  
    list-style: none;  
    background-color: #ffffff;  
    border: 1px solid #cccccc;  
    border: 1px solid rgba(0, 0, 0, 0.15);  
    border-radius: 4px;  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);  
    background-clip: padding-box;  
} 

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

.flex-rose{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.bouquet{
    padding: 15px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


.fa-instagram {
  background: #125688;
  color: white;
}
